In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import pprint
from splinter import Browser
import pandas as pd

# News headline / description

In [2]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
fact_url = 'https://space-facts.com/mars/'
pp = pprint.PrettyPrinter(indent=4)
# Retrieve page with the requests module

In [5]:
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [6]:
title_results = soup.find_all('div', class_='content_title') #content_title
desc_results = soup.find_all('div', class_='rollover_description_inner')
news_title = title_results[0].text.strip('\n')
news_p = desc_results[0].text.strip('\n')
print(news_title)
print(news_p)

NASA Invites Students to Name Mars 2020 Rover
Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

# Mars featured image link

In [3]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
pic_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(pic_url)
browser.click_link_by_partial_text('FULL IMAGE')

In [5]:

html = browser.html
    # Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
apage = soup.find('body', class_='dark_background')
img_box = apage.find('div', class_='fancybox-inner')
target_img = img_box.find('img')
img_link = "https://www.jpl.nasa.gov" + target_img['src']

print(target_img)

<img class="fancybox-image" src="/spaceimages/images/mediumsize/PIA18328_ip.jpg" style="display: inline;"/>

/spaceimages/images/mediumsize/PIA16153_ip.jpg

pic_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(pic_url)

In [5]:
tweeturl = "https://twitter.com/marswxreport?lang=en"
browser.visit(tweeturl)
html = browser.html
    # Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [47]:
big_list = []
twtpage = soup.find('body')
twt = twtpage.find_all('div',class_='tweet')
for stuff in twt:
    content = stuff.find_all('div',class_='content')
    big_list.append(content[0].find('p').text)

print(big_list[0])

InSight sol 354 (2019-11-24) low -99.7ºC (-147.5ºF) high -22.6ºC (-8.6ºF)
winds from the SSW at 4.8 m/s (10.8 mph) gusting to 23.9 m/s (53.5 mph)
pressure at 6.80 hPapic.twitter.com/QojEKyxlhp

# Mars Facts

In [14]:
fact_url = "https://space-facts.com/mars/"

In [15]:
mars_fact = pd.read_html(fact_url)

In [16]:
mars_fact

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
fact_df = pd.DataFrame(mars_fact[0])

In [18]:
fact_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
fact_df.rename(columns = {0:'Statistic',1:'Measured'}, inplace = True)
fact_df

              Statistic                       Measured
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [9]:
mars_pic_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [4]:
mars_alt_url = "https://web.archive.org/web/20181114171728/https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [5]:
browser.visit(mars_alt_url)
html = browser.html
    # Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
    # Retrieve all elements that contain book information
#links = soup.find_all('a')
#twtpage = soup.find('body')
h3 = soup.find_all('h3')
#l2 = h3.find('a')

In [6]:
pic_list = [name.text for name in h3]
pic_list

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [7]:
for title in h3:
    print(title.text)

Cerberus Hemisphere Enhanced
Schiaparelli Hemisphere Enhanced
Syrtis Major Hemisphere Enhanced
Valles Marineris Hemisphere Enhanced

In [8]:
ref_list = []
for name in pic_list:
    browser.click_link_by_partial_text(name)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    test = soup.find_all('a')
    ref_list.append(test[4]['href'])
    browser.back()

In [9]:
ref_list

['/web/20181114182238/https://astrogeology.usgs.gov/about/careers',
 '/web/20181114182242/https://astrogeology.usgs.gov/about/careers',
 '/web/20181114182245/https://astrogeology.usgs.gov/about/careers',
 '/web/20181114182248/https://astrogeology.usgs.gov/about/careers']

In [12]:
soup = BeautifulSoup(html, 'html.parser')
test = soup.find_all('a')
print(test.text)

AttributeError: ResultSet object has no attribute 'text'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

In [51]:
soup = BeautifulSoup(html, 'html.parser')
test = soup.find_all('a')

print(test[4]['href'])

/search/map/Mars/Viking/cerberus_enhanced

In [52]:
testimg = "https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced"

In [53]:
browser.visit(testimg)
html = browser.html
    # Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
img = soup.find('img')

In [54]:
print(img)

<img alt="USGS: Science for a Changing World" class="logo" height="60" src="/images/usgs_logo_main_2x.png"/>

In [55]:
src_path = img['src']

In [56]:
print(src_path)

/images/usgs_logo_main_2x.png

In [1]:
import scrape_mars

In [4]:
result = scrape_mars.scrape()

In [5]:
print(result)

{'news_title': 'NASA Invites Students to Name Mars 2020 Rover', 'news_p': "Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.", 'mars_weather': 'InSight sol 355 (2019-11-25) low -99.6ºC (-147.4ºF) high -23.2ºC (-9.7ºF)\nwinds from the SSE at 5.4 m/s (12.2 mph) gusting to 19.8 m/s (44.2 mph)\npressure at 6.70 hPapic.twitter.com/i0OVq2GJsM'}